html{
    font-size: 100%;
}
body{
    font-family: 'Geometria'; 
    width: 100%;
}
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
img{
    width: 100%;
}
.header_pets{
    width: 100%;
    height: 100vh;
    background-image: url('../img/header.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index:1;
}
.header_pets-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background: #2D2C2A;
    padding: 0 4rem;
}
.header_pets-log{
    background: url('../img/Logo.svg') center center no-repeat;
    background-size: 100% auto;
    width: 3.5rem;
    height: 3.5rem;
}
.header_pets-menu_block{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    color: #fff;
}
.header_pets-menu_block a{
    color:#fff;
    font-size: 1.2rem;
    text-decoration: none;
    padding-left: 2rem; 
}
.header_pets-welcom{
    font-style: italic;
    position: absolute;
    z-index: 2;
    top: 30%;
    right: 10%;
    font-size: 4rem;
    color: rgba(240, 176, 0, 1);
}
.header_pets-title{
    font-style: italic;
    position: absolute;
    z-index: 2;
    top: 38%;
    right: 10%;
    font-size: 6.5rem;
    color: rgba(240, 176, 0, 1);
}
.header_pets-text{
    position: absolute;
    z-index: 2;
    top: 55%;
    right: 10%;
    font-size: 2rem;
    color: rgba(240, 176, 0, 1);
    font-style: italic;
}

.pets__about_us{
    margin: 6rem 8rem;
}
.pets__about_us-title{
    font-size: 2rem;
    text-align: center;
    padding-bottom: 1.5rem; 
}
.pets__about_us-text{
    font-size: 1.4rem;
    line-height: 150%;
}

.pets__slider{
    margin: 2rem 0;
}

.autoplay{
    width:80%;
    height: auto;
    margin: 2rem auto;
    display:flex;    
}
.autoplay img{
    width: 6rem;
}
.slick-prev,
.slick-next{
    top:50% !important;
}
.slick-prev:before, .slick-next:before{
    font-family: 'Geometria';
    font-size: 1.75rem !important;
    font-weight: 400  !important;
    color: black !important;   
}

.pets__list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* align-items: center; */
    list-style-type: none;
   
}
.pets__list li{
    display: block;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    width: 30%;
    height: 35vw;
    margin: 1rem 2rem;
    border: 1px solid #808080;
    border-radius: 2px;
    padding: 1rem;
    
}
.imgDiv{
    width: 30vw;
    height: 30vw;
    
}
.imgList{
    width: 100%;
    /* height:; */
}


@media screen and (min-width: 2000px){
    html{
        font-size: 120%;
    }
}
@media screen and (max-width: 1366px){
    html{
        font-size: 80%;
    }
}
@media screen and (max-width:768px){
    .header_pets-menu_block{
        display: none;
    }
}

#rapports{
    width:100%;
    min-height: 100px;
    background-color: #2D2C2A;
    color: #fff;
    padding: 1rem 0 0 1rem;
}
#rapports h2{
    margin-bottom: 0.8rem;
}